body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 30px;
}

h2 {
    text-align: center;
}

textarea, input, select {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

button {
    padding: 10px;
    margin: 5px;
    width: 48%;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
