body {
    font-family: Arial;
    background: #222;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.container {
    background: #333;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #ff5722;
    border: none;
    color: white;
}